In [ ]:
print("Hello Hamza")

Hello Hamza

In [ ]:
a=12
b=13
c=b-a
c

1

In [ ]:
name=input("Enter Name : ")
age=input("Enter Age : ")
print("Good After NOON  "+name +" Your Age is "+age)

Enter Name : hamza
Enter Age : 22
Good After NOON  hamza Your Age is 22

In [ ]:
num=input("Enter number : ")
if '.' in num:
    print( "Float  ")
    num1=float(num)
    print(num1)
else:
    print( " NOT Float  ")
    num1=int(num)
    print(num1)

Enter number22.87
Float !
22.87

In [ ]:
list=['Hamza','Habib','Mani']
list.append('Taha')
list.remove('Mani')
for item in list:
    print(item.upper())

HAMZA
HABIB
TAHA

In [ ]:
tup=('Hamza','Habib','Mani')
num1=tup[0]
num2=tup[1]
print("First element : "+ (num1) +"  Second element : "+ (num2) )

First element : Hamza  Second element : Habib

In [ ]:

 students = {
     "Habib": "A+",
     "Taha": 'B',
     "Mani": "C-",
     "Hamza": "D+",
     "Ali": 'F'
 }
 print(students)

{'Habib': 'A+', 'Taha': 'B', 'Mani': 'C-', 'Hamza': 'D+', 'Ali': 'F'}

In [ ]:
list1=[1,2,3,4]
list2=[4,5,6]
set1=set(list1)
set2=set(list2)
print("Union:", set1.union(set2))
print("Intersection:", set1.intersection(set2))
print("Difference:", set1.difference(set2))

Union: {1, 2, 3, 4, 5, 6}
Intersection: {4}
Difference: {1, 2, 3}

In [ ]:
number = int(input("Enter an integer: "))
if number > 0:
    print("Positive")
elif number < 0:
        print("Negative")
else:
    print("Zero")

if (number % 2) == 0:
    print("Even")
else:
    print("Odd")

Enter an integer: -22
Negative
Even

In [ ]:

for i in range(1, 51):
    if i % 3 == 0 and i % 5 == 0:
        print("FizzBuzz")
    elif i % 3 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz

In [ ]:

def factorial(n):
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result
num = int(input("Enter a non-negative integer: "))
print(f"The factorial of {num} is {factorial(num)}")

Enter a non-negative integer: 6
The factorial of 6 is 720

In [ ]:
def is_prime(n):
    if n<=1:
        return False
    for i in range(2,int(n*0.5)+1):
        if n%i == 0:
            return False
    return True
num=int(input("Enter Number to check for prime : "))
print(f"{num} is Prime : {is_prime(num)}")

Enter Number to check for prime : 11
11 is Prime : True

In [1]:
listint=input("Enter a list of integers seperated by space: ").split(" ")
def squares(listint):
  for i in range(len(listint)):
    listint[i]=int(listint[i])*int(listint[i])
  print(listint)
squares(listint)

Enter a list of integers seperated by space: 2 3 4 5 7
[4, 9, 16, 25, 49]

In [2]:
dict1={
    "val1":"1",
    "val22":"2",
    "val33":"3"
}
dict2={
     "val1":"4",
    "val4":"2",
    "val5":"3"
}
def merge(dict1,dict2):
  dict1.update(dict2)
  print(dict1)
merge(dict1,dict2)

{'val1': '4', 'val22': '2', 'val33': '3', 'val4': '2', 'val5': '3'}

In [4]:
list_int=input("Enter a list of integers seperated by space: ").split(" ")
def removedup(list_int):
  for i in range(len(list_int)):
    flag=False
    j=i-1
    while(j>=0 and not flag):
      if list_int[i]==list_int[j]:
        flag=True
      j=j-1
    if flag:
      list_int[i]="x"
  list_int.remove("x")
  print(list_int)
removedup(list_int)

Enter a list of integers seperated by space: 2 3 4 2
['2', '3', '4']

In [5]:
data=input("Enter Data: ")
def palindrome(data):
  data=data.lower()
  array=list(data)
  i=0
  j=len(array)-1
  flag=True
  while(i<j and flag):
    if array[i]!=array[j]:
      flag=False
    i=i+1
    j=j-1
  if flag:
    print("Palindrome")
  else:
    print("Not Palindrome")
palindrome(data)

Enter Data: 45
Not Palindrome

In [6]:

def fibonacci(Num):
  i=1
  j=1

  if(Num==1):
    print("1")
  elif Num==2:
    print("1\n1")
  elif Num>2:
    print("1\n1")
    Num=Num-2
    z=0
    while z<Num:
      temp=j
      j=i+j
      i=temp
      print(f"{j}")
      z=z+1
Num=input("Enter Number: ")
Num=int(Num)
fibonacci(Num)

Enter Number: 44
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269
2178309
3524578
5702887
9227465
14930352
24157817
39088169
63245986
102334155
165580141
267914296
433494437
701408733

In [8]:

def calculator():
  data=input("Enter a list of integers seperated by space: ").split(" ")
  try:
    sum=0
    for i in range(len(data)):
      data[i]=int(data[i])
      sum=sum+data[i]
    print(f"Average: {sum/len(data)}")
  except:
    print("Invalid Input")
calculator()

Enter a list of integers seperated by space: 4 5 6
Average: 5.0

In [10]:
#17
def table():
  for i in range(1,11):
    print(f"Table {i}")
    for j in range(1,11):
      print(f"{i} x {j} = {i*j}")
    print("\n")
table()

Table 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10


Table 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20


Table 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30


Table 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40


Table 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50


Table 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60


Table 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70


Table 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80


Table 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90


Table 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [11]:

LoginInfo={
    "Hamza":"1234",
    "Mani":"12345"
}
username=input("Enter Username: ")
password=input("Enter Password: ")
def login(username,password):
  if LoginInfo.get(username)==password:
    print("Login Successful")
  else:
    print("Login Failed")
login(username,password)

Enter Username: Mani
Enter Password: 12345
Login Successful

In [14]:

words = input("Enter the words with spaces: ").split()
word_count = {}
for word in words:
  if word in word_count:
    word_count[word] += 1
  else:
    word_count[word] = 1
print(word_count)

Enter the words with spaces: rao hamza umar
{'rao': 1, 'hamza': 1, 'umar': 1}